<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sotka</title>
</head>
<body>
	<header class="row content_between align_center">
		<div><img class="logo"  onclick='window.location.href="hi"' src="imgs/logo.png"></div>
		<div>
			<ul class="ul_inline margin_0">
				<li onclick='window.location.href="posts"'>Публикации</li>
				<li>О проекте</li>
				<li class="bold_text">Вступить</li>
			</ul>
		</div>
	</header>
	<section class="section1">
		<div class=" p_l_section" style="padding-top: 100px;">
			<div><h1 class="section_h" style="margin-top: 0px;margin-bottom: 0px;">Найдутся <br>любые рецепты <br>до 100 рублей</h1></div>
			<div><p class="section_p">*а если ты не нашёл нужный рецепт,<br> то можешь создать его сам</p></div>
			<a class="btn">Начнем</a>
		</div>
	</section>
	<section>
		<div class="section2 m_t_section column p_t_section" style="margin-bottom: 25px;">
			<div class="m_b_section">
				<h1 class="section_h p_l_section margin_0">Почему именно      
					<img class="logo" style="padding-bottom: 20px;" onclick='window.location.href="hi"' src="imgs/Logo.png">
				</h1>
			</div>
			<div><p class="section_p p_l_section margin_0" style="padding-left: 50px; font-size: 48px;line-height: 56px;font-weight: 300;">Первая гибкая платформа рецептов, объединившая <br>ограниченный бюджет с наиболее оптимальным подбором <br>по имеющимся ингридиентам</p></div>
		</div>
		<div class="row content_between wrap dot_styled">
			<div class="circle dot_styled_right mobile_dot1"><h1 class="section_h_style2">Рецепты</h1></div>
			<div class="circle dot_styled_right mobile_dot2"><h1 class="section_h_style2">Советы</h1></div>
			<div class="circle dot_styled_right mobile_dot3"><h1 class="section_h_style2">Обзоры</h1></div>
			<div class="circle mobile_dot4"><h1 class="section_h_style2">Форум</h1></div>
		</div>
	</section>
	<section class=" row wrap dot_styled_bottom">
		<div class="p_t_num row content_start p_b_num w_50_dot dot_styled_right p_l_section_num align_center">
			<div class="div_h_120px"><h1 class="section_h margin_0 ">1</h1></div>
			<div class="p_l_section_num"><p class="section_p_style2 margin_0 ">Находите рецепты по имеющимися под рукой ингредиентам</p></div>
		</div>
		<div class="p_t_num row content_start p_b_num w_50_dot p_l_section_num align_center">
			<div class="div_h_120px"><h1 class="section_h margin_0 ">2</h1></div>
			<div class="p_l_section_num"><p class="section_p_style2 margin_0 ">Не выходите за рамки бюджета <br>в 100 рублей за порцию</p></div>
		</div>
		<div class="p_t_num row content_start p_b_num w_50_dot dot_styled_right p_l_section_num dot_styled_top align_center">
			<div class="div_h_120px"><h1 class="section_h margin_0 ">3</h1></div>
			<div class="p_l_section_num"><p class="section_p_style2 margin_0 ">Оценивайте рецепты</p></div>
		</div>
		<div class="p_t_num row content_start p_b_num w_50_dot p_l_section_num dot_styled_top align_center">
			<div class="div_h_120px"><h1 class="section_h margin_0 ">4</h1></div>
			<div class="p_l_section_num"><p class="section_p_style2 margin_0 ">Наслаждайтесь вкусной едой!</p></div>
		</div>
	</section>
	<section class="m_t_section p_l_section">
		<img class="logo"  onclick='window.location.href="hi"' src="imgs/logo3.png">
		<div class="align_center m_t_section row"><div class="p_new_section_style4" id="v1">Вы</div><div id="vp1" class="p_new_section_style1 p_l_20px">кулинарный блогер</div></div>
		<div class="align_center row"><div class="p_new_section_style3" id="v2">Вы</div><div id="vp2" class="p_new_section_style2 p_l_20px">повар</div></div>
		<div class="align_center row"><div class="p_new_section_style4" id="v3">Вы</div><div id="vp3" class="p_new_section_style1 p_l_20px">лайфхакер</div></div>
		<div class="align_center row"><div class="p_new_section_style4" id="v4">Вы</div><div id="vp4" class="p_new_section_style1 p_l_20px">владелец кафе быстрого питания</div></div>
		<div class="m_t_section p_new_section_style3">Станьте участником программы «Дай сотку»,<br> присоединившись к числу наших партнёров</div>
	</section>

	<section class="column align_center m_t_section">
		<div class="new_style11" style="margin-bottom: 20px;"><h1 class="section_h margin_0 mobh">Присоединяйся</h1></div>
		<div class="group_items column align_center content_center">
			<div><p class="p_new">Узнай раньше всех о запуске проекта</p></div>
			<div class="row content_center align_center">
				<input class="input" placeholder="E-mail" type="text" name="">
				<a class="btn_input">отправить</a>
			</div>
		</div>
	</section>
	<footer class="m_t_section ">
		<div class="f1 row content_end">
			<ul class="ul_inline margin_0">
				<li onclick='window.location.href="posts"'>Публикации</li>
				<li>О проекте</li>
				<li class="bold_text">Вступить</li>
			</ul>
		</div>
		<div class="f1 f2 dot_styled_top">
			<ul class="margin_0 ul_inline ">
				<li class="margin_0">Концепция</li>
				<li>Исследования</li>
				<li>Целевая аудитория</li>
				<li>Функционал</li>
			</ul>
		</div>
	</footer>
</body>
<script>
	current = 2;
	v1 =document.getElementById("v1");
	v2 =document.getElementById("v2");
	v3 =document.getElementById("v3");
	v4 =document.getElementById("v4");
	vp1 =document.getElementById("vp1");
	vp2 =document.getElementById("vp2");
	vp3 =document.getElementById("vp3");
	vp4 =document.getElementById("vp4");
	let timerId = setInterval(changeText(), 3000);
	function changeText() {
		switch(current){
			case 1:
			vp1.className = "p_new_section_style1 p_l_20px";
			v1.className = "p_new_section_style4";
			current = 2;
			vp2.className = "p_new_section_style2 p_l_20px";
			v2.className = "p_new_section_style3";
			break;
			case 2:
			vp2.className = "p_new_section_style1 p_l_20px";
			v2.className = "p_new_section_style4";
			current = 3;
			vp3.className = "p_new_section_style2 p_l_20px";
			v3.className = "p_new_section_style3";
			break;
			case 3:
			vp3.className = "p_new_section_style1 p_l_20px";
			v3.className = "p_new_section_style4";
			current = 4;
			vp4.className = "p_new_section_style2 p_l_20px";
			v4.className = "p_new_section_style3";
			break;
			case 4:
			vp4.className = "p_new_section_style1 p_l_20px";
			v4.className = "p_new_section_style4";
			current = 1;
			vp1.className = "p_new_section_style2 p_l_20px";
			v1.className = "p_new_section_style3";
			break;
		}
		return 0;
	}
	</script>
</html>
