<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sotka</title>
</head>
<body>
	<header class="row content_between align_center">
		<div><img class="logo"  onclick='window.location.href="hi"' src="imgs/logo.png"></div>
		<div>
			<ul class="ul_inline margin_0">
				<li onclick='window.location.href="posts"'>Публикации</li>
				<li>Профиль</li>
				<li onclick='window.location.href="about"'>О проекте</li>
				<li class="bold_text">Вступить</li>
			</ul>
		</div>
	</header>
	<section class="section1">
		<div class=" p_l_section" style="padding-top: 100px;">
			<div><h1 class="section_h" style="margin-top: 0px;margin-bottom: 0px;">Найдутся <br>любые рецепты <br>до 100 рублей</h1></div>
			<div><p class="section_p">*а если ты не нашёл нужный рецепт,<br> то можешь создать его сам</p></div>
			<a class="btn">Начнем</a>
		</div>
	</section>
	<section>
		<div class="section2 m_t_section column p_t_section" style="margin-bottom: 25px;">
			<div class="m_b_section"><h1 class="section_h p_l_section margin_0">Кулинарный медиа-сервис</div>
			<div><p class="section_p p_l_section margin_0" style="padding-left: 50px;">Первая гибкая платформа рецептов, объединившая <br>ограниченный бюджет с наиболее оптимальным подбором <br>по имеющимся ингридиентам</p></div>
		</div>
		<div class="row content_between p_l_section p_r_section wrap">
			<div class="circle"><h1 class="section_h_style2">Рецепты</h1></div>
			<div class="circle"><h1 class="section_h_style2">Советы</h1></div>
			<div class="circle"><h1 class="section_h_style2">Обзоры</h1></div>
			<div class="circle"><h1 class="section_h_style2">Форум</h1></div>
		</div>
	</section>
	<section class="m_t_section p_l_section">
		<div class=" row content_start m_b_section">
			<div><h1 class="section_h margin_0 ">1</h1></div>
			<div><p class="section_p_style2 margin_0 p_l_section_num">Создайте аккаунт: так вы сможете не только <br>просматривать рецепты, но и сохранять <br>их или добавлять собственные</p></div>
		</div>
		<div class=" row content_start m_b_section">
			<div><h1 class="section_h margin_0 ">2</h1></div>
			<div><p class="section_p_style2 margin_0 p_l_section_num">Используйте умный поиск по ингридиентам, <br>чтобы найти наиболее подходящий рецепт <br>без дополнительных трат</p></div>
		</div>
		<div class=" row content_start m_b_section">
			<div><h1 class="section_h margin_0 ">3</h1></div>
			<div><p class="section_p_style2 margin_0 p_l_section_num">Наслаждайтесь вкусной едой!</p></div>
		</div>
	</section>
	<section class="column align_center">
		<div class="new_style11"><h1 class="section_h margin_0">Дай сотку!</h1></div>
		<div class="group_items column align_center content_center">
			<div><p class="p_new">Узнай раньше всех о запуске проекта</p></div>
			<div class="row content_center align_center">
				<input class="input" placeholder="E-mail" type="text" name="">
				<a class="btn_input">отправить</a>
			</div>
		</div>
	</section>
	<footer class="m_t_section">
		<div class="f1 row content_end">
			<ul class="ul_inline margin_0">
				<li onclick='window.location.href="posts"'>Публикации</li>
				<li>Профиль</li>
				<li onclick='window.location.href="about"'>О проекте</li>
				<li class="bold_text">Вступить</li>
			</ul>
		</div>
		<div class="f1 f2 b_top">
			<ul class="margin_0 ul_inline ">
				<li class="margin_0">Концепция</li>
				<li>Исследования</li>
				<li>Целевая аудитория</li>
				<li>Функционал</li>
			</ul>
		</div>
	</footer>
</body>
</html>
