<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sotka</title>
	<link rel="stylesheet" type="text/css" href="sources/main.css?1">
</head>
<body>
	<header class="row content_between align_center">
		<div><img class="logo"  onclick='window.location.href="hi"' src="imgs/logo.png"></div>
		<div>
			<ul class="ul_inline margin_0">
				<li onclick='window.location.href="posts"'>Публикации</li>
				<li>Профиль</li>
				<li onclick='window.location.href="about"'>О проекте</li>
				<li class="bold_text">Вступить</li>
			</ul>
		</div>
	</header>
	<section class="section1 section1_2">
		<div class=" p_l_section new_style12">
			<div><h1 class="section_h margin_0_style2">Найдутся <br>любые рецепты <br>до 100 рублей</h1></div>
			<div><p class="section_p">*а если ты не нашёл нужный рецепт,<br> то можешь создать его сам</p></div>
			<a class="btn">Начнем</a>
			<div class="m_t_section_4"><h1 class="section_h margin_0_style2">Концепт</h1></div>
			<div class="m_b_section_2"><p class="section_p">Данная кулинарная платформа предоставляет возможность <br>поиска рецепта исходя из выбранных <br>ингридиентов в рамках ограниченного бюджета. <br>Сообщество регулярно пополняется рецептами, <br>лайфхаками и обзорами. </p></div>
			<div class="m_t_section_4"><h1 class="section_h margin_0_style2">Исследования</h1></div>
			<div class="m_b_section_2"><p class="section_p">Мы провели два типа исследования: количественное <br>и качественное.<br><br>В интервью с предполагаемыми пользователями <br>мы отказались от излишних функций и сузили круг <br>до необходимых.</p></div>
		</div>
	</section>
	<section class="p_l_section p_r_section">
		<div class="new_style21"><h1 class="section_h margin_0_style2">Целевая аудитория</h1></div>
		<div class="row content_between wrap">
			<div class="column">
				<div>
					<h3 class="section_p_style3 margin_0">Основная ЦА</h3>
					<p class="section_p_style2">Студенты<br>Молодые люди с низким/ средним доходом</p>
				</div>
				<div>
					<h3 class="section_p_style3 margin_0">Косвенная ЦА</h3>
					<p class="section_p_style2">Лайфхакеры<br>Спонсоры</p>
				</div>
			</div>
			<div><img class="people_img" src="imgs/people.png"></div>
		</div>
	</section>
	<section class="section3 f3">
		<div class="m_t_section p_l_section" style="margin-bottom: 180px;">
			<div class="new_style21" style="padding-top: 70px;"><h1 class="section_h margin_0_style2 ">Функционал</h1></div>
			<div class=" row content_start m_b_section">
				<div><h1 class="section_h margin_0 ">1</h1></div>
				<div><p class="section_p_style3 margin_0 p_l_section_num">Публикации</p></div>
			</div>
			<div class=" row content_start m_b_section">
				<div><h1 class="section_h margin_0 ">2</h1></div>
				<div><p class="section_p_style3 margin_0 p_l_section_num">Поиск по ингридиентам</p></div>
			</div>
			<div class=" row content_start m_b_section">
				<div><h1 class="section_h margin_0 ">3</h1></div>
				<div><p class="section_p_style3 margin_0 p_l_section_num">Форум с обзорами <br>и лайфхаками</p></div>
			</div>
			<div class=" row content_start m_b_section">
				<div><h1 class="section_h margin_0 ">3</h1></div>
				<div><p class="section_p_style3 margin_0 p_l_section_num">Аккаунт пользователя</p></div>
			</div>
		</div>
		
		<div>
			<div class="p_l_section"><h1 class="section_h margin_0_style2">Механики</h1></div>
			<div class="row content_between p_l_section p_r_section wrap">
				<div class="circle circle_2"><h1 class="section_h_style2">Пост</h1></div>
				<div class="circle circle_2"><h1 class="section_h_style2">Реакция</h1></div>
				<div class="circle circle_2"><h1 class="section_h_style2">Комментарий</h1></div>
				<div class="circle circle_2"><h1 class="section_h_style2">Сохранение</h1></div>
			</div>
		</div>
		<footer >
			<div class="f1 row content_end">
				<ul class="ul_inline margin_0">
					<li onclick='window.location.href="posts"'>Публикации</li>
					<li>Профиль</li>
					<li onclick='window.location.href="about"'>О проекте</li>
					<li class="bold_text">Вступить</li>
				</ul>
			</div>
			<div class="f1 f2 b_top new_style22">
				<ul class="margin_0 ul_inline ">
					<li class="margin_0">Концепция</li>
					<li>Исследования</li>
					<li>Целевая аудитория</li>
					<li>Функционал</li>
				</ul>
			</div>
		</footer>
	</section>
</body>
</html>
